:root{
--fundo:  #000000;
}
:root{
    --letras:  #ffffff;
    }
body{
    background-color: var(--fundo);
    color: var(--letras);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    display: flex;
}



* 
{
    margin: 20;
    padding: 10; ;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }.container img { max-width: 5; }
*
.jogo
{
display:flex;
flex-direction: row;

}  
.equipe{
  display:grid;
  grid-template-columns: 33% 33% 33%;
}

.foto-equipe{
  width: 35%;
}

.div-equipe{
  border: 2px solid;
  text-align: center;
}

.andre{
  width: 35%;
}
.nicolas{
  width: 25%;
}
.michel{
  width: 35%;
}






.jogo{
  width: 75%;
}
.console{
  width: 60%;
}
.acessorio{
  width: 50%;
}

.jog{
  width: 75%;
}

.jo{
  width: 100%;
}

.jag{
  width: 45%;
}

.ja{
  width: 140%;
}

/* estilo da página*\