:root{
--fundo:  #000000;
}
:root{
    --letras:  #ffffff;
    }
body{
    background-color: var(--fundo);
    color: var(--letras);
}
header{
    display: flex;
}
/* estilo da página*\
