:root{
--fundo:  #000000;
}
:root{
    --letras:  #ffffff;
    }
body{
    background-color: var(--fundo);
    color: var(--letras);
}
header{
    display: flex;
}
.jogo{
    width:20;
    height: 20;
}
* {
    margin: 20;
    padding: 10; ;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }.container img { max-width: 5; }
  *
  .logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: right;
    align-items: right;
  }.container img { max-width: 50%; }
/* estilo da página*\
